
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main{
  margin-left: 10%;
  margin-top: 10%;
}
body{
	background-image: url("../Send/imagens/fundo.png");
	background-size: 180%;
	background-position: -300px 10px;
	
}

input{
  width: 100%;
  height: 90px;
  margin-left: -50px;
  font-size: 30px;
  border-radius:20px;
}

#secao2{
  font-weight: bold;
  font-size: 50px;
	  margin-top: 20%;

}
img{
  width: 400px;
  height: 400px;
	  margin-left: 350px;
	  margin-top: -400px;
	  position: absolute;
  	
}

#secao1{
  margin-left: 10%;
	  width: 100%;
   height: max-content;
}

#secao3{
   margin: 20% 0 0 0;	
   	
}


#titulo {
	  font-size: 200px;
	  font-weight: bold;
	  
	  margin-left: -50px;
}

#sub {
	
   margin: 0px 100px 0 0;
	  font-size: 80px;
}

h2 {
	  font-size: 60px;
	font-weight: bold;
}


#lista {
	   font-size: 40px;
	   font-weight: bold;
	   margin: 100px 50px 100px 50px;
	  
   height: max-content;
	   font-size: 60px;
	   font-weight: bold;
	   background-color: white;
	   border: solid 2px black;
	   border-radius: 20px;
	   float: left;
}
.container {
	overflow-x: scroll;
	width: 100%;
	display: flex;
	height: max-content;
	border: solid 2px black;
	border-radius: 20px;
	box-shadow: 10px 2px 10px 1px;
	background-color: white;
	
}

#secao4{
   margin: 20% 0 0 10%;	
   	width: 100%;
	   height: max-content;
}
#secaoEnv{
   margin: 0% 0 0 10%;	
   	width: 100%;
	   height: max-content;
}

#bt1 {
	width: 80%;
	height: 200px;
	border-radius: 30px;
	box-shadow: 10px 2px 10px 1px;
	font-size: 60px;
	font-weight: bold;
	
}

#secao5{
   margin: 10% 0% 0 0%;	
   	width: 100%;
	   height: 900px;
	   background-color: white;
	   border: solid 2px black;
	   border-radius: 20px;
	   	box-shadow: 10px 2px 10px 1px;
}

.box {
	width: 15%;
	height: max-content;
	margin-left: 5%;
	margin-top: 1%;
	
}

.inputPeso{
	width:30%;
	height: 100px;
	margin-left: 65%;
	margin-top: -12%;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	float: left;
}
select {
		width:30%;
	height: 100px;
	margin-left: 30%;
	margin-top: 5%;
	font-size: 60px;
	font-weight: bold;
	border-radius: 20px;
}

#bt2 {
	width: 80%;
	height: 200px;
	border-radius: 30px;
	box-shadow: 10px 2px 10px 1px;
	font-size: 60px;
	font-weight: bold;
	margin-top: 10%;
}



#result{
   margin: 20% 0% 0 0%;	
   
}

#local{
   margin: 10% 0% 0 0%;	
   width:max-content;
	   height: max-content;
}

#valor{
   margin: -22% 0% 0 40%;	
   	width: 60%;
	   height: 180px;
	   background-color: white;
	   border: solid 2px black;
	   border-radius: 20px;
	   	box-shadow: 10px 2px 10px 1px;
	   font-size: 60px;
	   font-weight: bold;
	   text-align: center;
	   justify-content: center;
	   align-items: center;
	   display: flex;
}

#cidades{
   margin: -10% 0% 0 40%;	
   	width: 50%;
	   height: 100px;
	   background-color: white;
	   border: solid 2px black;
	   border-radius: 20px;
	   text-align: center;
	   	box-shadow: 10px 2px 10px 1px;
	   z-index: 10;
	   position: absolute;
}

#titulo2 {
	  font-size: 100px;
	  font-weight: bold;
	  margin-left: 40px;
	  margin-right: 500px;
}

#titulo3 {
	  font-size: 100px;
	  font-weight: bold;
	  margin-left: 20px;
	  margin-right: 500px;
}

@keyframes move {
	from {
		width: 80%;
		height: 100px;
	}
	to {
		width: 79%;
		height: 98px;
	}
}